.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--grey-bg);
  gap: 20px;
  margin: 0;
  border-top: 2px solid var(--grey-separator);
  @media screen and (min-width: 520px) {
    flex-direction: row;
    flex-wrap: wrap;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order:3;
    }
  }


  &__link {
    text-decoration: none;
    text-align: center;
    line-height: 1.25;

    &:hover, &:focus {
      color: var(--accent);
    }

    &:first-child {
      font-size: 16px;
      color: var(--main-regular);
    }

    &:nth-child(2) {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--active-regular);
    }

    &:nth-child(3) {
      transform: rotate(360deg);
    }

    &:nth-child(4) {
      font-weight: 700;
      color: var(--main-alt);
    }

    &:nth-child(5) {
      font-weight: 700;
      color: var(--active-regular);
    }
  }

  &__company {
    font-weight: 400;
    color: var(--grey-text);
  }
}

.footer-1, .footer-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-1 {
  padding-top: 30px;
}

.footer-img {
  display: inline-block;
}

