.content{
  &__desc{
    color: #fff;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.21;
    text-align: center;
    padding-top: 123px;
    padding-bottom: 261px;
    margin: 0;
    @media screen and (min-width: 520px){
      display: flex;
      justify-content: center;
      padding: 209px 0 549px;
      white-space: nowrap;
      width: 100%;
    }
    @media screen and (min-width: 767px) {
      padding: 185px 0 421px;
    }
  }
}
