.content {
  &__desc {
    color: #fff;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.21;
    text-align: center;
    padding-top: 123px;
    padding-bottom: 261px;
    margin: 0;
    position: relative;
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: center;
      padding: 209px 0 549px;
      width: 100%;
    }
    @media screen and (min-width: 767px) {
      padding: 185px 0 421px;
      white-space: nowrap;
    }
  }
}

.content-publications {
  background: #fff;

  &__list {
    padding-bottom: 30px;
    margin: 0;
  }

  &__item {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.44;

    &:last-child {
      margin-bottom: 0;
    }

    &::marker {
      color: var(--accent);
      font-weight: 700;
      font-size: 18px;
      line-height: 1.44;
    }
  }
}

.content__img {
  left: 50%;
  margin-top: -90px;
  transform: translateX(-50%);
  position: absolute;
  background: url("../../img/scroll.svg") no-repeat center bottom 15%;
  height: 42px;
  width: 42px;

  &:hover, &:focus {
    background: url("../../img/scroll-2.svg") no-repeat center bottom 15%;
    scale: 110%;
    transition: 1s;
  }

  @media screen and (min-width: 520px) {
    margin-top: -135px;
  }
}
