.desc-nav {
  overflow-x: auto;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    margin: 0;
    padding-bottom: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    scroll-snap-type: x mandatory;
  }

  &__item {
    scroll-snap-align: start;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    color: var(--grey-text);
    white-space: nowrap;

    &:hover, &:focus {
      background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
