.icon {
  max-height: 92px;
  max-width: 92px;
  padding: 14px;
  margin: 30px 0 30px;
  background-color: #fff;
  border-radius: 24px;

  &:hover, &:focus {
    scale: 105%;
    transition: 1s;
  }
}

.services {
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    margin-bottom: 15px;
    color: var(--active-regular);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    &:hover, &:focus {
      color: var(--accent);
    }
  }

  &__desc {
    color: #fff;
    font-size: 16px;
    line-height: 1.62;
    margin: 0;
  }

  &:last-child {
    padding-bottom: 60px;
    border-radius: 0 0 12px 12px;
  }

  &:before {
    content: "";
    background: #CACADB;
    border-radius: 0 0 12px 12px;
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 50%;
    width: calc(100vw - 40px);
    transform: translateX(-50%);
    z-index: 2;
  }

  &:after {
    content: "";
    background: #E7E7F2;
    border-radius: 0 0 12px 12px;
    position: absolute;
    height: 10px;
    bottom: -20px;
    left: 50%;
    width: calc(100vw - 80px);
    transform: translateX(-50%);
    z-index: 1;
  }
}
