.team {
  background: #fff;
  padding-top: 50px;

  &__photo {
    max-width: 315px;
    border-radius: 12px 12px 0 0;
  }

  &__info {
    margin: 0;
  }

  &__creator-1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--grey-text);
    margin: 0;
  }

  &__creator-2 {
    font-size: 14px;
    line-height: 1.57;
    color: var(--grey-text);
    margin: -20px 0 30px;
  }
}

.team-all {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  background: var(--grey-bg);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 30px;
}

.team-radio {
  text-align: center;
  padding: 30px 0 60px;
}

.radio {
  display: none;
}

.team-input {
  position: relative;
  display: inline-block;
  padding-left: 31px;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: var(--active-regular);
    opacity: 0.2;
    border-radius: 50%;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: var(--active-regular);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
  }
}

.radio:checked + .team-input:after {
  opacity: 1;
}


