.btn-desc {
  text-decoration: none;
  color: var(--active-regular);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 30px;

  &:hover, &:focus {
    color: var(--accent);
  }

  &:active {
    text-decoration-line: underline;
  }

  &_publications {
    color: var(--main-regular);
    font-size: 20px;
    line-height: 1.2;
    @media screen and (min-width: 890px) {
      font-size: 30px;
    }
  }
}

.titles {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  background-image: var(--gradient-red-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 10px 0 60px;

  &_desc {
    margin: 0;
    padding-bottom: 0;

    &_publications {
      color: var(--main-alt);
      padding-bottom: 15px;
      @media screen and (min-width: 890px) {
        font-size: 22px;
        line-height: 1.23;
      }
    }
  }

  &_services {
    padding: 15px 0 0;
    @media screen and (min-width: 520px){
      padding-bottom: 30px;
    }
  }

  @media screen and (min-width: 890px) {
    font-size: 38px;
    line-height: 1.21;
  }

  &_publications {
    padding-bottom: 30px;
  }

  &_modal {
    padding: 0;
  }

}

.btn {
  position: relative;
  width: 100%;
  padding: 18px;
  background: var(--active-regular);
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  margin-top: 15px;
  color: #fff;

  &:hover {
    background: var(--active-hover);
  }

  &:active {
    background: var(--active);
  }
}

.fb-img {
  fill: var(--grey-text);
  margin: 0;

  &:hover {
    scale: 105%;
    transition: .5s;
    fill: var(--accent);
  }
}