.social {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: left;
  padding: 30px 0;
  margin: 0;
  border-top: 4px solid var(--grey-separator);

  &__item {
    padding: 9px;
    background: var(--grey-bg);
    border-radius: 12px;
    &:hover, &:focus{
      background: var(--grey-bg-alt);
      scale: 102%;
    }
  }

  &__link {

  }
}